:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Resto del CSS */


.school {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
 }

.student {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

.time {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px,1fr));
  grid-template-rows: repeat(3, minmax(200px,1fr));
  gap: var(--spacing);
  max-width: 1024px;
}

.alumni {
  grid-template-columns: 2 / 3;
  grid-template-rows: 1 / 2;
}

.student {
  grid-template-columns: 3 / 4;
  grid-template-rows: 1 / 2;
}

.time {
  grid-template-columns: 3 / 4;
  grid-template-rows: 2 / 3;
}

header {
  display: grid;
  background-color: var(--blue-color);
  color: var(--primary-color);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  text-align: center;
  font-size: 12px;
  width: auto;
}

main {
  display: grid;
  place-content: center;
  color: var(--blue-color);
  border: var(--border);
  padding: var(--spacing);
  text-align: center;
  font-size: 12px;
}

footer {
  background-color: var(--orange-color);
  color: var(--primary-color);
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  padding: var(--spacing);
  font-size: 10px;
}

footer > p {
  padding-bottom: var(--spacing);
}

footer > button {
  width: 100px;
  height: 30px;
  border: none;
}

@media (max-width: 718px) {
  #grid-container {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(8, minmax(200px, 1fr));
  }

  header {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    font-size: 9px;
    padding: 5px;
  }

  .school {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }

  .student {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }

  main {
    grid-column: 1 / 1;
    grid-row: 5 / 6;
  }
  
  .time {
    grid-column: 1 / 1;
    grid-row: 6 / 7;
  }

  .alumni {
    grid-column: 1 / 1;
    grid-row: 7 / 8;
  }

  footer {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 8 / 9;
    padding: 0;
    align-content: space-around;
    padding: 5px;
    font-size: 9px;
  }

  footer > p {
    padding: 0;
  }

  footer > button {
    font-size: 9px;
  }

}
